@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Форма добавления студента в базу</h3>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.BookId" name="StudentId" />
        <table>
            <tr>
                <td><p>Введите ФИО </p></td>
                <td><input type="text" name="Person" /> </td>
            </tr>
            <tr>
                <td><p>Введите дату </p></td>
                <td><input type="text" name="Date" /> </td>
            </tr>
            <tr>
                <td><p>Введите адрес :</p></td>
                <td>
                    <input type="text" name="Adress" />
                </td>
            </tr>
            <tr>
                <td><p>Введите цену </p></td>
                <td><input type="text" name="Value" /> </td>
            </tr>
            <tr>
                <td><p>Введите описание интерьера </p></td>
                <td><input type="text" name="Interier" /> </td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
        </table>
    </form>
</div>

